@model Webbanraucu_Ass.ModelsView.MuaHangSuccessVM
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="container pt-4 pb-4">
        <div class="card">
            <div class="card-body">
                <div id="invoice" class="p-h-30">
                    <div class="m-t-15 lh-2">
                        <div class="inline-block">
                            <div class="row" style="margin-top:12px;">
                                <div class="col-md-9">
                                    <img class="img-fluid" src="~/assets/images/logo/logo.png" style="height:100px;width:260px;" alt="">
                                </div>
                                <div class="col-md-3">
                                    <div class="p-l-10">
                                        <span class="font-weight-semibold text-dark">BTNShop, DC.</span><br>
                                        <span>123456, BACGIANG</span><br>
                                        <span>LUCNAM</span><br>
                                        <abbr class="text-dark" title="Phone">Phone:</abbr>
                                        <span>(+84) 123-456-789</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="float-right" style="margin-top:10px;">
                            <h2>HÓA ĐƠN</h2>
                        </div>
                    </div>
                    <div class="row m-t-20 lh-2">
                        <div class="col-sm-9">
                            <h3 class="p-l-10 m-t-10">Đặt Hàng Thành Công</h3>
                            <address class="p-l-10 m-t-10">
                                <span class="text-dark" style="font:italic">Cảm ơn quý khách đã đặt hàng.</span><br>
                                <hr />
                                <div class="row">
                                    <div class="col-md-3">
                                        <span><a style="font-weight: 800; margin-right:10px;">Họ tên khách hàng:</a></span><br>
                                        <span><a style="font-weight: 800; margin-right: 10px;">Địa chỉ:</a></span><br>
                                        <span><a style="font-weight: 800; margin-right: 10px;">Số điện thoại:</a></span><br>
                                    </div>
                                    <div class="col-md-4">
                                        <span>@Model.FullName</span><br>
                                        <span>@Model.Address</span><br>
                                        <span>@Model.Phone</span><br>
                                    </div>
                                </div>
                            </address>
                        </div>
                        <div class="col-sm-3">
                            <div class="m-t-80">
                                <div class="text-dark text-uppercase d-inline-block">
                                    <span class="font-weight-semibold text-dark">Mã đơn hàng :</span>
                                </div>
                                <div class="float-right">#@Model.DonHangID</div>
                            </div>
                            <div class="text-dark text-uppercase d-inline-block">
                                <span class="font-weight-semibold text-dark">Ngày đặt : @Model.Ngaydat</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

